.photo{
    width: 100px;
    height: 100px;
    float: left;
    margin: 5px;
}

.post{
    border-style: solid;
    border-color: #3F3F3F;
    background-color: #7a8491;
    margin: 10px;
    width: 95%;
    float: left;
}

.comment{
    border-style: solid;
    border-color: #3F3F3F;
    background-color: #7a8491;
    color: White;
    margin: 10px;
    width: 95%;
    float: left;
}

.posttitle{
    text-align: left;
    font-size: 1.5em;
    color: White;
}

textarea{
    width: 95%;
    margin: 10px;
    box-sizing: border-box;
    float: left;
    resize: none;
}

input[type="text"]{
    margin: 5px;
    box-sizing: border-box;
    color: black;
}

button{
    color: black;
}

.container{
    max-width: 900px;
}